html {
    background-color: #FDFE95;
}

.container {
  height: 100px;
  width: 100px;
  /*padding: 100px;*/
  text-align: center; 
  position: absolute;
  left:50%;
  top:50%;
  font-family: 'ABeeZee', sans-serif;
  
}

 #display {
  width: 100px;
  padding: 15px;
  font-size: 72px;
  margin: auto;
  text-align: center;
  transform: translate(-50%, -50%);

}

.buttons {
    display: inline-flex;
    margin: auto;
    width: 20%;
    height: 50px;
    font-size: 11vw;
    padding: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    
}

#startStop
{
    display: flex;
    background: #FFA727; 
    border-radius: 15px;
   /* margin-left: 35%;*/

}

#reset
{
    display:flex;
    background: #FFA727; 
    border-radius: 15px;
   /* margin-right: 15%;*/
}
